## 183. Customers Who Never Order

Suppose that a website contains two tables, the Customers table and the Orders table. Write a SQL query to find all customers who never order anything.

Table: Customers.

+----+-------+
| Id | Name  |
+----+-------+
| 1  | Joe   |
| 2  | Henry |
| 3  | Sam   |
| 4  | Max   |
+----+-------+
Table: Orders.

+----+------------+
| Id | CustomerId |
+----+------------+
| 1  | 3          |
| 2  | 1          |
+----+------------+
Using the above tables as example, return the following:

+-----------+
| Customers |
+-----------+
| Henry     |
| Max       |
+-----------+

## Solution(faster than 54.81% of MySQL)

In [ ]:
# Write your MySQL query statement below
select a.Name as Customers
from
(
    select Id,Name
    from Customers
) a
left join
(
    select CustomerId
    from Orders
) b
on a.Id = b.CustomerId
where b.CustomerId is null